.pane-ca-services-node-ca-services-node-1-a, .pane-ca-services-node-ca-services-node-1-b {clear: left; float: left; padding-right: 15px; padding-bottom: 5px;}

.view-ca-services-list .views-field-field-ca-services-s-image {float: left; padding-right: 15px; padding-bottom: 5px;}

.view-ca-services-node .views-field-field-ca-services-s-image, .view-ca-services-node .views-field-field-ca-services-s-image-1 {float: left;}

.view-ca-services-node {width: 200px;}

.pane-ca-services-node-ca-services-node-1-b img {float: left; padding: 0 2.5px 5px;}

.pane-ca-services-node-ca-services-node-1-b .pager .ajax-progress {display: none;}

.view-ca-services-list .views-field-nothing {clear: both;}